.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.expensePieChart{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2rem solid var(--background-component);
}

.expensePieChart select {
  background-color: var(--background-component);
  border: none;
}

.selectChart {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  height: 4rem;
  background-color: var(--background-component);
}

.selectChart select {
  width: 10rem;
  padding-top: 5px;
  outline: none; 
  color: var(--font-color-4);
  font-size: 1.6rem;
  appearance: textfield;
}

.calendarIcon {
  width: 2.8rem;
  color: var(--font-color-4);
  margin-right: 5px;
}

.pieGraph {
  width: 100%; 
  max-width: 40rem; 
  height: 42rem;
  background-color: var(--foreground);
  box-sizing: border-box;
}

@media (max-width: 700px) {

  .pieGraph {
    max-width: 100%; 
    height: 50rem;
  }
  
}

.pieGraph svg {
  width: 100%; 
  height: 100%; 
}

.totalAmountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 20rem;
  padding: 1rem;
  background-color: var(--background-component);
  border-radius: 10px;
}

.totalAmountBox h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  font-size: 2rem;
}

.totalAmountBox p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  height: 70%;
  width: 100%;
  font-size: 3rem;
  border-radius: 10px;
}


@media (max-width: 700px) {
  .dashboard {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .totalAmountBox, .totalAmountBox p, .totalAmountBox h4 {
    width: 100%;
  }

}